/* intestazione */
.heading{
    background-color: #000;
    height: 30px;
}

.logo-sony{
    max-width: 50px;
}

/* fine intestazione */

/* jumbo */
.col-game{
    max-width: 150px;
    margin-top: 20px;
    border-radius: 20px;
}
/* fine jumbo */

/* play */
.text-sub{
    color: #0474ce;
    text-transform: uppercase;
}

h2{
    font-size: 45px;
}

.btn{
    border-radius: 20px;
}


/* fine play */

/* nuove uscite */
#new-game{
    background-color: #1f1f1f;
}

.title-new{
    color: white;
    padding: 30px 20px;
}

.text-game{
    color: white;
}
/* fine nuove uscite */