*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container ::after{
    content: '';
    display: table;
    clear: both;
}

/* intestazione */
.heading{
    background-color: #000;
    height: 30px;

}

/* fine intestazione */

/* jumbo */
.image-slider{
    background-color: blue;
    height: 500px;
    width: 100%;
}
