*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* intestazione */
.heading{
    background-color: #000;
    height: 30px;
}

.logo-sony{
    max-width: 50px;
}

/* fine intestazione */

/* jumbo */
.image-slider{
    background-color: blue;
    height: 500px;
    width: 100%;
}
